<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="lucas"/>

    <!-- provider's application name, used for tracing dependency relationship -->
    <dubbo:application name="rpc-server-provider"/>
    <!-- use multicast registry center to export service -->
<!--    <dubbo:registry address="127.0.0.1:2181" protocol="zookeeper" check="false"/>-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <dubbo:config-center address="zookeeper://127.0.0.1:2181"/>
    <dubbo:metadata-report address="zookeeper://127.0.0.1:2181"/>
    <!-- use dubbo protocol to export service on port 12332 -->
    <dubbo:protocol server="netty4" name="dubbo" dispatcher="all" threadpool="fixed"
                    optimizer="lucas.rpcapi.dubbo.SerializationOptimizerImpl" serialization="kryo" port="12332"
                    threads="8"/>
    <!-- declare the service interface to be exported -->
    <dubbo:service interface="lucas.rpcapi.serverteam.RpcTeamService" ref="teamService"/>
    <!-- service implementation, as same as regular local bean -->
    <bean id="teamService" class="lucas.serverteam.provider.team.TeamServiceImpl"/>
</beans>